<?xml version="1.0" encoding="UTF-8"?>
<module id="149222" version="2016052300">
  <modulename>resource</modulename>
  <sectionid>101186</sectionid>
  <sectionnumber>9</sectionnumber>
  <idnumber></idnumber>
  <added>1455044945</added>
  <score>0</score>
  <indent>2</indent>
  <visible>0</visible>
  <visibleold>0</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>0</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>$@NULL@$</availability>
  <showdescription>0</showdescription>
  <plugin_outcomesupport_mod_module>
  </plugin_outcomesupport_mod_module>
  <tags>
  </tags>
</module>