<?xml version="1.0" encoding="UTF-8"?>
<module id="149240" version="2016052300">
  <modulename>url</modulename>
  <sectionid>101190</sectionid>
  <sectionnumber>12</sectionnumber>
  <idnumber></idnumber>
  <added>1428528906</added>
  <score>0</score>
  <indent>2</indent>
  <visible>0</visible>
  <visibleold>0</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>0</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>$@NULL@$</availability>
  <showdescription>1</showdescription>
  <plugin_outcomesupport_mod_module>
  </plugin_outcomesupport_mod_module>
  <tags>
  </tags>
</module>