<?xml version="1.0" encoding="UTF-8"?>
<module id="149184" version="2016020203">
  <modulename>questionnaire</modulename>
  <sectionid>101179</sectionid>
  <sectionnumber>2</sectionnumber>
  <idnumber></idnumber>
  <added>1441309828</added>
  <score>0</score>
  <indent>2</indent>
  <visible>1</visible>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>1</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>$@NULL@$</availability>
  <showdescription>0</showdescription>
  <plugin_outcomesupport_mod_module>
  </plugin_outcomesupport_mod_module>
  <tags>
  </tags>
</module>