<?xml version="1.0" encoding="UTF-8"?>
<module id="150227" version="2016052300">
  <modulename>resource</modulename>
  <sectionid>101187</sectionid>
  <sectionnumber>11</sectionnumber>
  <idnumber>$@NULL@$</idnumber>
  <added>1492616880</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>1</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>$@NULL@$</availability>
  <showdescription>0</showdescription>
  <plugin_outcomesupport_mod_module>
  </plugin_outcomesupport_mod_module>
  <tags>
  </tags>
</module>